EXPO_PUBLIC_SUPABASE_URL=https://zovddrxukactjyzchavo.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
EXPO_PUBLIC_WORKER_URL=https://speaky-signal.drop-share-free.workers.dev
EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY=your_revenuecat_android_api_key
EXPO_PUBLIC_ADMOB_APP_ID=ca-app-pub-3237855763291333~5680255634
EXPO_PUBLIC_ADMOB_BANNER_ID=ca-app-pub-3237855763291333/9884794764
EXPO_PUBLIC_ADMOB_INTERSTITIAL_ID=ca-app-pub-3237855763291333/3319386416
